* {
  padding: 0;
  margin: 0;
 
}
body{
  background: #f6f6f6;
  width: 100%;
  height: 100vh;
}

::selection {
  background: #2596be;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.4);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
}

*::-moz-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

*::-moz-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

*::-moz-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

*::-moz-scrollbar-thumb:active {
  background: rgba(0,  0,  0,  0.4);
}
